### Importing libraries

In [50]:
%reset

In [51]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
import json
import difflib
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

### Preprocessing

In [52]:
dataset=pd.read_csv("arabic_data.csv",on_bad_lines='skip')
dataset.columns=["title","contents","category","author_name"]
dataset.head(5),dataset.shape

(                                               title  \
 0                            بسم اللّه الرحمن الرحيم
 1        بتمويل كويتي.. افتتاح مشروع للمياه في اليمن
 2                                                  "
 3  سمو نائب الأمير وولي العهد يهنئ الملك تشارلز ا...
 4  سمو الأمير يهنئ تشارلز الثالث بمناسبة إعتلائه ...

                                             contents  \
 0
 1  \\n                                    (كونا) ...
 2                                            alwatan
 3  (كونا) - بعث سمو نائب الأمير وولي العهد الشيخ ...
 4  (كونا) - بعث سمو أمير البلاد الشيخ نواف الأحمد...

                            category author_name
 0  government performance follow up  local news
 1                               NaN         NaN
 2                        local news         NaN
 3                           alqabas  local news
 4                           alqabas  local news  ,
 (18714, 4))

In [53]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18714 entries, 0 to 18713
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        18712 non-null  object
 1   contents     14419 non-null  object
 2   category     17706 non-null  object
 3   author_name  17704 non-null  object
dtypes: object(4)
memory usage: 584.9+ KB

In [54]:
dataset.dropna(axis=0,inplace=True)

In [55]:
dataset

,title,contents,category,author_name
0,بسم اللّه الرحمن الرحيم,,government performance follow up,local news
3,سمو نائب الأمير وولي العهد يهنئ الملك تشارلز ا...,(كونا) - بعث سمو نائب الأمير وولي العهد الشيخ ...,alqabas,local news
4,سمو الأمير يهنئ تشارلز الثالث بمناسبة إعتلائه ...,(كونا) - بعث سمو أمير البلاد الشيخ نواف الأحمد...,alqabas,local news
5,مستشفى الطب الطبيعي والتأهيل يحتفل باليوم العا...,احتفل مستشفى الطب الطبيعي والتأهيل باليوم العا...,alqabas,local news
6,«الهلال الأحمر» تبدأ حملة جمع تبرعات لمتضرري ا...,بدأت جمعية الهلال الأحمر اليوم السبت، حملة جمع...,alqabas,local news
...,...,...,...,...
18709,مستقبل نرعاه بالمعرفة,تستند مؤسسة الكويت للتقدم العلمي إلى ثلاثة محا...,\N,Sciences news
18710,لمزيد من المعلومات عن البرنامج التدريبي يرجى ا...,\N,\N,Sciences news
18711,تعلن مؤسسة الكويت للتقدم العلمي عن برنامج تدري...,\N,\N,Sciences news
18712,الأبحاث في مجال الوقود الأحفوري (التقليدي) وغي...,\N,\N,Sciences news
18713,أنجز المعهد مشروع \التنبؤ بتأثير التغيرات المن...,\N,\N,Sciences news

In [56]:
dataset.loc[dataset["category"]==r"\N"]["category"]

54       \N
81       \N
102      \N
111      \N
120      \N
         ..
18709    \N
18710    \N
18711    \N
18712    \N
18713    \N
Name: category, Length: 3064, dtype: object

In [57]:
empty_contents=dataset.loc[dataset["contents"]==r"\N"].index
empty_title=dataset.loc[dataset["title"]==r"\N"].index
print(empty_title)

Int64Index([], dtype='int64')

In [58]:
# removing all special characters 
import re
exp='[\u0627-\u064aA-Za-z]+' #re to get arabic and english , i had eliminated numbers and special characters because they dont have much influence 
dataset["contents"]=dataset['contents'].apply(lambda data : " ".join(re.findall(exp,data)))
dataset["category"]=dataset["category"].apply(lambda data : " ".join(re.findall(exp,data)))
dataset["title"]=dataset["title"].apply(lambda data : " ".join(re.findall(exp,data)))

In [59]:
dataset.loc[dataset["contents"]==r"\N"]

Empty DataFrame
Columns: [title, contents, category, author_name]
Index: []

In [60]:
dataset.loc[dataset["contents"]==r"\N"]

Empty DataFrame
Columns: [title, contents, category, author_name]
Index: []

In [61]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13897 entries, 0 to 18713
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        13897 non-null  object
 1   contents     13897 non-null  object
 2   category     13897 non-null  object
 3   author_name  13897 non-null  object
dtypes: object(4)
memory usage: 542.9+ KB

In [62]:
dataset.reset_index(inplace=True)

In [63]:
dataset.drop("index",axis=1,inplace=True)

In [64]:
dataset.head(5)

,title,contents,category,author_name
0,بسم الل ه الرحمن الرحيم,,government performance follow up,local news
1,سمو نا ب ال مير وولي العهد يهن الملك تشارلز ال...,كونا بعث سمو نا ب ال مير وولي العهد الشيخ مشعل...,alqabas,local news
2,سمو ال مير يهن تشارلز الثالث بمناسبة عتلا ه ال...,كونا بعث سمو مير البلاد الشيخ نواف ال حمد ببرق...,alqabas,local news
3,مستشفى الطب الطبيعي والت هيل يحتفل باليوم العا...,احتفل مستشفى الطب الطبيعي والت هيل باليوم العا...,alqabas,local news
4,الهلال ال حمر تبد حملة جمع تبرعات لمتضرري الصو...,بد ت جمعية الهلال ال حمر اليوم السبت حملة جمع ...,alqabas,local news

In [65]:
dataset.iloc[0]["contents"]

''

In [66]:
#still some empty strings are there --- remove

In [67]:
empty_str_contents=dataset.loc[dataset["contents"]==r""].index
empty_str_title=dataset.loc[dataset["title"]==r""].index
empty_str_category=dataset.loc[dataset["category"]==""].index

In [68]:
# empty_str_category, 
empty_str_contents,
# empty_str_title

(Int64Index([    0,    30,   111,   168,   193,   262,  3617,  3619,  3632,
              3795,  3815,  3828,  3903,  3971,  3976,  4011,  4050,  4051,
              4071,  4095,  4186,  4451,  4687,  4702,  4720,  4727,  4735,
              4737,  4740,  4742,  4769,  4773,  4781,  4793,  4801,  4810,
              4813,  4816,  4836,  4853,  6024,  6072,  6081,  7071,  7086,
              7138,  7148,  7171,  7266,  7286,  7326,  7458,  7462,  7480,
              7499,  7502,  7506,  7507,  8917,  9063,  9073,  9395,  9786,
              9792, 12744, 12993, 13198, 13201, 13205, 13599, 13677, 13678,
             13706, 13722, 13753, 13763, 13766],
            dtype='int64'),)

In [69]:
dataset.drop(list(empty_str_contents),axis=0,inplace=True)

In [70]:
empty_str_contents=dataset.loc[dataset["contents"]==r""].index
empty_str_contents

Int64Index([], dtype='int64')

In [71]:
dataset.reset_index(inplace=True)

In [72]:
dataset.drop("index",axis=1,inplace=True)

In [73]:
dataset.head(5)

,title,contents,category,author_name
0,سمو نا ب ال مير وولي العهد يهن الملك تشارلز ال...,كونا بعث سمو نا ب ال مير وولي العهد الشيخ مشعل...,alqabas,local news
1,سمو ال مير يهن تشارلز الثالث بمناسبة عتلا ه ال...,كونا بعث سمو مير البلاد الشيخ نواف ال حمد ببرق...,alqabas,local news
2,مستشفى الطب الطبيعي والت هيل يحتفل باليوم العا...,احتفل مستشفى الطب الطبيعي والت هيل باليوم العا...,alqabas,local news
3,الهلال ال حمر تبد حملة جمع تبرعات لمتضرري الصو...,بد ت جمعية الهلال ال حمر اليوم السبت حملة جمع ...,alqabas,local news
4,السفارة البريطانية رفع العلم من ظهر اليوم حتى ...,مي السكري علنت السفارة البريطانية لدى البلاد ن...,alqabas,local news

In [74]:
dataset.shape

(13820, 4)

In [75]:
dataset=dataset.iloc[1000:1040]

# keyword generation using YAKE
keywords are generated in combination of title and contents

In [76]:
dataset["keywords"]=dataset["title"]+" "+dataset["contents"]

C:\Users\rbw19\AppData\Local\Temp\ipykernel_13192\2632053667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["keywords"]=dataset["title"]+" "+dataset["contents"]

In [77]:
dataset.head(5)

,title,contents,category,author_name,keywords
1000,وزير ال وقاف دولة الكويت قيادة وحكومة وشعبا ته...,قال وزير ال وقاف والش ون ال سلامية الكويتي عيس...,alhrer news,local news,وزير ال وقاف دولة الكويت قيادة وحكومة وشعبا ته...
1001,السلمان ي عيد تشكيل مجلس الت ديب بجهاز حماية ا...,صدر وزير التجارة والصناعة د عبدالله السلمان قر...,alhrer news,local news,السلمان ي عيد تشكيل مجلس الت ديب بجهاز حماية ا...
1002,ثرى الكويت يحتضن جثامين شهيدا,تقدم وزير الداخلية وزير الدفاع بال نابة الشيخ ...,alhrer news,local news,ثرى الكويت يحتضن جثامين شهيدا تقدم وزير الداخل...
1003,الوزير العتيبي الكويت حريصة على صون حقوق الطفل...,كد وزير الكهربا والما والطاقة المتجددة وزير ال...,alhrer news,local news,الوزير العتيبي الكويت حريصة على صون حقوق الطفل...
1004,العنزي مشاركتنا بمعرض تونس للكتاب تعزز التعاون...,كد مس ول ثقافي كويتي همية مشاركة الكويت الرسمي...,alhrer news,local news,العنزي مشاركتنا بمعرض تونس للكتاب تعزز التعاون...

In [78]:
#running this cell may take 30 mins
from yake import KeywordExtractor
kw_extractor = KeywordExtractor(lan="ar", n=1, top=15) 
def keyword_extractor(data):
    keywords = kw_extractor.extract_keywords(text=data)
    keywords = " ".join([x for x, y in keywords])
    return keywords
dataset["keywords"]=dataset["keywords"].apply(lambda data:keyword_extractor(data))

C:\Users\rbw19\AppData\Local\Temp\ipykernel_13192\3561757148.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["keywords"]=dataset["keywords"].apply(lambda data:keyword_extractor(data))

In [79]:
dataset.head(5)

,title,contents,category,author_name,keywords
1000,وزير ال وقاف دولة الكويت قيادة وحكومة وشعبا ته...,قال وزير ال وقاف والش ون ال سلامية الكويتي عيس...,alhrer news,local news,القر الكريم وقاف الفا بلغ زين حصلت الكويت الكن...
1001,السلمان ي عيد تشكيل مجلس الت ديب بجهاز حماية ا...,صدر وزير التجارة والصناعة د عبدالله السلمان قر...,alhrer news,local news,حماية تشكيل المنافسة المجلس التجارة حكام القرا...
1002,ثرى الكويت يحتضن جثامين شهيدا,تقدم وزير الداخلية وزير الدفاع بال نابة الشيخ ...,alhrer news,local news,شهيدا وزير جثامين الكويت الشهدا الداخلية العلي...
1003,الوزير العتيبي الكويت حريصة على صون حقوق الطفل...,كد وزير الكهربا والما والطاقة المتجددة وزير ال...,alhrer news,local news,الكويت الطفل حقوق حرص كافة باليوم العالمي والع...
1004,العنزي مشاركتنا بمعرض تونس للكتاب تعزز التعاون...,كد مس ول ثقافي كويتي همية مشاركة الكويت الرسمي...,alhrer news,local news,المعرض الكويت الثقافية الكتاب العربية العنزي ل...

In [ ]:
dataset.to_csv("news_data.csv")

# TFIDF vectorization

In [33]:
combined_features=dataset.title+" "+dataset.contents+" "+dataset.category+" "+dataset.author_name+" "+dataset.keywords

In [34]:
combined_features[1]

'سمو ال مير يهن تشارلز الثالث بمناسبة عتلا ه العرش ملكا للمملكة المتحدة كونا بعث سمو مير البلاد الشيخ نواف ال حمد ببرقية تهن ة لى صاحب الجلالة الملك تشارلز الثالث ملك المملكة المتحدة alqabas local news تشارلز الثالث سمو مير المتحدة يهن بمناسبة عتلا العرش ملكا للمملكة كونا بعث البلاد الشيخ'

In [35]:
tfidf=TfidfVectorizer()
tfidf.fit(combined_features)

TfidfVectorizer()

In [ ]:
# save the tfidf model for further use

In [36]:
new_df = tfidf.transform(combined_features)

In [37]:
new_df

<100x4492 sparse matrix of type '<class 'numpy.float64'>'
	with 8414 stored elements in Compressed Sparse Row format>

In [42]:
tfidf.vocabulary_

{'سمو': 2386,
 'نا': 3566,
 'ال': 137,
 'مير': 3552,
 'وولي': 4335,
 'العهد': 838,
 'يهن': 4476,
 'الملك': 1173,
 'تشارلز': 1756,
 'الثالث': 362,
 'كونا': 2884,
 'بعث': 1551,
 'الشيخ': 694,
 'مشعل': 3391,
 'حمد': 2081,
 'ببرقية': 1454,
 'تهن': 1891,
 'لى': 3206,
 'صاحب': 2485,
 'الجلالة': 393,
 'ملك': 3465,
 'alqabas': 5,
 'local': 18,
 'news': 22,
 'بمناسبة': 1610,
 'عتلا': 2597,
 'العرش': 802,
 'ملكا': 3466,
 'للمملكة': 3150,
 'المتحدة': 988,
 'البلاد': 265,
 'نواف': 3658,
 'المملكة': 1175,
 'مستشفى': 3366,
 'الطب': 750,
 'الطبيعي': 753,
 'والت': 3763,
 'هيل': 3696,
 'يحتفل': 4377,
 'باليوم': 1449,
 'العالمي': 773,
 'للعلاج': 3114,
 'احتفل': 53,
 'والذي': 3819,
 'يوافق': 4480,
 'يوم': 4488,
 'الثامن': 364,
 'من': 3484,
 'سبتمبر': 2319,
 'كل': 2868,
 'عام': 2577,
 'وكشف': 4228,
 'مدير': 3321,
 'الهلال': 1281,
 'حمر': 2082,
 'تبد': 1658,
 'حملة': 2085,
 'جمع': 1975,
 'تبرعات': 1660,
 'لمتضرري': 3167,
 'الصومال': 735,
 'والسودان': 3833,
 'وباكستان': 3947,
 'بد': 1493,
 'جمعية': 1977,
 'اليوم': 1332,
 'السبت': 608,
 'الفيضانات': 885,
 'والسيول': 3838,
 'وحالات': 4055,
 'الجفاف': 392,
 'في': 2757,
 'وذلك': 4089,
 'عبر': 2593,
 'السفارة': 621,
 'البريطانية': 256,
 'رفع': 2268,
 'العلم': 821,
 'ظهر': 2564,
 'حتى': 2028,
 'الثالثة': 363,
 'غد': 2691,
 'لل': 3042,
 'علان': 2643,
 'عن': 2675,
 'مي': 3550,
 'السكري': 626,
 'علنت': 2651,
 'لدى': 2992,
 'نه': 3653,
 'سيتم': 2412,
 'علم': 2645,
 'بريطانيا': 1529,
 'عاليا': 2575,
 'الموافق': 1214,
 'بالتوقيت': 1399,
 'الجهاز': 411,
 'يبحث': 4357,
 'خر': 2113,
 'مستجدات': 3362,
 'مشروع': 3385,
 'شبكة': 2438,
 'سكك': 2369,
 'الحديد': 441,
 'تر': 1726,
 'معالي': 3412,
 'الصباح': 706,
 'يس': 4402,
 'جهاز': 1989,
 'متابعة': 3245,
 'دا': 2155,
 'الحكومي': 463,
 'اجتماعا': 45,
 'مع': 3410,
 'المختصين': 1038,
 'الهي': 1288,
 'العامة': 777,
 'للطرق': 3105,
 'والنقل': 3925,
 'البري': 254,
 'لمتابعة': 3166,
 'قد': 2779,
 'تم': 1854,
 'تقديم': 1826,
 'عرض': 2613,
 'مر': 3324,
 'يوضح': 4485,
 'برز': 1514,
 'المستجدات': 1087,
 'المشروع': 1113,
 'كد': 2847,
 'المشعل': 1117,
 'على': 2653,
 'الاستعداد': 175,
 'لتذليل': 2943,
 'الصعوبات': 722,
 'والعقبات': 3863,
 'التي': 360,
 'يواجهها': 4478,
 'تنفيذ': 1879,
 'government': 16,
 'performance': 25,
 'follow': 14,
 'up': 30,
 'سفارتنا': 2360,
 'بالقاهرة': 1425,
 'للكويتيين': 3128,
 'لاف': 2912,
 'دولار': 2197,
 'الحد': 438,
 'قصى': 2801,
 'للدخول': 3083,
 'مصر': 3399,
 'هابت': 3667,
 'سفارة': 2359,
 'دولة': 2199,
 'الكويت': 941,
 'القاهرة': 894,
 'بجميع': 1481,
 'المواطنين': 1213,
 'الكويتيين': 946,
 'القادمين': 892,
 'التقيد': 331,
 'بالتعليمات': 1394,
 'والقوانين': 3879,
 'الصادرة': 700,
 'الحكومة': 462,
 'المصرية': 1125,
 'دخال': 2169,
 'النقد': 1261,
 'جنبي': 1982,
 'خراجه': 2115,
 'منها': 3508,
 'كدت': 2850,
 'بيان': 1644,
 'لها': 3191,
 'ضرورة': 2527,
 'يفصح': 4440,
 'المسافر': 1085,
 'عند': 2676,
 'الدخول': 517,
 'منافذ': 3487,
 'الدولة': 531,
 'الخروج': 486,
 'مقدار': 3447,
 'ما': 3217,
 'لديه': 2994,
 'مبالغ': 3237,
 'نقدية': 3643,
 'تتعدى': 1666,
 'خمسة': 2144,
 'جنيه': 1988,
 'مصري': 3400,
 'حوالي': 2088,
 'دولارا': 2198,
 'مريكي': 3344,
 'يعادلها': 4428,
 'العملات': 831,
 'جنبية': 1983,
 'كما': 2875,
 'بالمواطنين': 1443,
 'عدم': 2605,
 'جلب': 1967,
 'حيازة': 2096,
 'استخدام': 79,
 'نوع': 3659,
 'الطا': 743,
 'رات': 2226,
 'بدون': 1504,
 'طيار': 2562,
 'درون': 2177,
 'داخل': 2156,
 'راضي': 2231,
 'تجنبا': 1680,
 'للمسا': 3137,
 'لة': 2929,
 'القانونية': 893,
 'والقضا': 3877,
 'ية': 4358,
 'alwatan': 6,
 'البي': 273,
 'جولة': 2004,
 'تفتيشية': 1809,
 'نقعة': 3647,
 'الشملان': 682,
 'وتحرير': 3979,
 'مخالفات': 3307,
 'قالت': 2772,
 'للبي': 3057,
 'استمرارا': 94,
 'عمال': 2662,
 'التفتيش': 325,
 'والرقابة': 3825,
 'قامت': 2774,
 'بالتنسيق': 1397,
 'الجهات': 410,
 'المعنية': 1144,
 'بعمل': 1560,
 'ضافت': 2521,
 'الجولة': 418,
 'سفرت': 2361,
 'تحرير': 1694,
 'عدد': 2603,
 'المخالفات': 1034,
 'وقامت': 4205,
 'جهة': 1991,
 'بالعمل': 1419,
 'وفق': 4193,
 'اختصاصها': 66,
 'تطبيقا': 1777,
 'لقرار': 3031,
 'مجلس': 3280,
 'الوزرا': 1302,
 'بش': 1539,
 'اخلا': 70,
 'النقعة': 1263,
 'المراكب': 1055,
 'الغير': 851,
 'مرخصة': 3333,
 'بالصيد': 1413,
 'الوزير': 1303,
 'الموسى': 1218,
 'زيادة': 2298,
 'مواقع': 3532,
 'نقاط': 3640,
 'شواحن': 2482,
 'المركبات': 1068,
 'الكهربا': 936,
 'بالكويت': 1429,
 'علن': 2650,
 'وزير': 4112,
 'شغال': 2465,
 'ووزير': 4331,
 'والما': 3887,
 'والطاقة': 3851,
 'المتجددة': 987,
 'علي': 2654,
 'الانتها': 221,
 'عداد': 2600,
 'لا': 2899,
 'حة': 2027,
 'الشواحن': 689,
 'للمركبات': 3134,
 'لجنة': 2975,
 'مشتركة': 3382,
 'بين': 1649,
 'الداخلية': 511,
 'والبلدية': 3761,
 'شراف': 2449,
 'الانتخابات': 217,
 'صدر': 2503,
 'الدفاع': 523,
 'بالوكالة': 1447,
 'طلال': 2554,
 'الخالد': 479,
 'قرارا': 2794,
 'بتشكيل': 1463,
 'وزارة': 4108,
 'رصاد': 2260,
 'طقس': 2552,
 'حار': 2017,
 'توقعت': 1906,
 'دارة': 2159,
 'الجوية': 421,
 'يسود': 4414,
 'والرياح': 3828,
 'شمالية': 2473,
 'غربية': 2695,
 'تتحول': 1664,
 'شرقية': 2455,
 'خفيفة': 2131,
 'معتدلة': 3417,
 'السرعة': 617,
 'الصحة': 708,
 'تحذر': 1689,
 'بكتيريا': 1577,
 'منتجات': 3491,
 'السبانخ': 607,
 'والجرجير': 3793,
 'القادمة': 891,
 'هولندا': 3693,
 'خاطبت': 2105,
 'المركز': 1069,
 'الوطني': 1310,
 'لتطبـيق': 2953,
 'اللـوا': 963,
 'ـح': 2704,
 'الصحيـة': 714,
 'الدولـيـة': 532,
 'سندس': 2391,
 'القبندي': 897,
 'المركزية': 1071,
 'للرعاية': 3087,
 'الصحية': 713,
 'دينا': 2209,
 'الضبيب': 741,
 'لتطب': 2952,
 'الل': 950,
 'الصحي': 712,
 'ورطب': 4099,
 'نسبيا': 3609,
 'خاصة': 2104,
 'المناطق': 1180,
 'الساحلية': 598,
 'متقلبة': 3259,
 'الاتجاه': 142,
 'جنوبية': 1987,
 'السفيرة': 624,
 'ناعية': 3573,
 'الملكة': 1174,
 'اليزابيث': 1325,
 'الثانية': 369,
 'وفاتها': 4188,
 'تمثل': 1857,
 'نهاية': 3657,
 'حقبة': 2068,
 'الزمن': 592,
 'اعربت': 119,
 'بليندا': 1591,
 'لويس': 3205,
 'بالغ': 1422,
 'حزنها': 2046,
 'لوفاة': 3203,
 'ليزابيث': 3211,
 'معتبرة': 3416,
 'ان': 1338,
 'تنكيس': 1884,
 'علام': 2641,
 'لمدة': 3169,
 'ثلاثة': 1927,
 'يام': 4355,
 'حدادا': 2032,
 'وفاة': 4187,
 'تقدم': 1819,
 'بخالص': 1492,
 'العزا': 804,
 'لبريطانيا': 2920,
 'العظمى': 814,
 'يرلندا': 4398,
 'الشمالية': 681,
 'الشعب': 676,
 'معزيا': 3422,
 'بوفاة': 1642,
 'العالم': 772,
 'فقد': 2738,
 'قا': 2764,
 'دة': 2167,
 'عظيمة': 2629,
 'اتسمت': 39,
 'بالحكمة': 1401,
 'والخبرة': 3807,
 'وبعد': 3957,
 'النظر': 1251,
 'برقية': 1518,
 'تعزية': 1794,
 'الصديقة': 717,
 'الوفية': 1315,
 'للكويت': 3127,
 'فيما': 2760,
 'قادة': 2765,
 'دول': 2196,
 'حزنهم': 2047,
 'الشديد': 666,
 'رحيل': 2249,
 'تفوز': 1813,
 'بر': 1509,
 'اسة': 75,
 'الاتحاد': 143,
 'العربي': 799,
 'للمر': 3132,
 'المتخصصة': 990,
 'فازت': 2710,
 'الكويتية': 944,
 'كلثوم': 2869,
 'عوض': 2683,
 'الخميس': 501,
 'بعد': 1554,
 'حصولها': 2057,
 'ثمانية': 1929,
 'صوات': 2516,
 'يعقد': 4435,
 'بعض': 1557,
 'الحكومية': 464,
 'لوضع': 3202,
 'لية': 3210,
 'لتحصيل': 2935,
 'مستحقات': 3363,
 'الوزارات': 1299,
 'وال': 3734,
 'دارات': 2158,
 'عقد': 2632,
 'ضم': 2529,
 'الفتوى': 860,
 'والتشريع': 3773,
 'للمعلومات': 3146,
 'المدنية': 1047,
 'المواصلات': 1210,
 'العدل': 788,
 'المالية': 971,
 'مانة': 3227,
 'لمجلس': 3168,
 'لمناقشة': 3178,
 'وضع': 4157,
 'شاملة': 2436,
 'تي': 1913,
 'هذا': 3677,
 'جتماع': 1949,
 'تنفيذا': 1880,
 'رقم': 2272,
 'لسنة': 3006,
 'بتكليف': 1472,
 'لمعالجة': 3174,
 'سياحة': 2407,
 'ميركا': 3554,
 'مغامرة': 3430,
 'مفتوحة': 3436,
 'المتعة': 997,
 'جدال': 1951,
 'السفر': 622,
 'الولايات': 1321,
 'ميركية': 3556,
 'للسياحة': 3093,
 'هو': 3692,
 'حلم': 2079,
 'يراود': 4396,
 'كثيرين': 2843,
 'باعتبارها': 1381,
 'كبر': 2834,
 'صناعية': 2514,
 'منصبا': 3501,
 'قياديا': 2818,
 'شاغرا': 2433,
 'برسم': 1516,
 'التسكين': 304,
 'كشفت': 2863,
 'مصادر': 3397,
 'مس': 3348,
 'ولة': 4239,
 'لـ': 3021,
 'القبس': 895,
 'وجود': 4053,
 'كثر': 2842,
 'حكوميا': 2074,
 'بحاجة': 1483,
 'للتسكين': 3065,
 'خلال': 2134,
 'الفترة': 859,
 'المقبلة': 1156,
 'الاجرا': 152,
 'ات': 34,
 'موت': 3536,
 'النخيل': 1244,
 'العطش': 811,
 'يتواصل': 4369,
 'يزال': 4399,
 'نخيل': 3595,
 'يواجه': 4477,
 'مصير': 3402,
 'الموت': 1216,
 'عطشا': 2626,
 'يوما': 4489,
 'مطلعة': 3407,
 'هي': 3694,
 'الزراعة': 589,
 'سفير': 2363,
 'تونس': 1912,
 'استقبل': 86,
 'جنان': 1981,
 'الشهاب': 684,
 'الجمهورية': 403,
 'التونسية': 358,
 'منصور': 3503,
 'العمر': 828,
 'المهندسة': 1204,
 'اثر': 41,
 'وصولها': 4150,
 'للنها': 3158,
 'يات': 4350,
 'وحصولها': 4062,
 'ذهبية': 2221,
 'ودرع': 4081,
 'بطولة': 1550,
 'الظفيري': 764,
 'بحث': 1484,
 'تطورات': 1779,
 'وضاع': 4152,
 'التقى': 330,
 'الخارجية': 476,
 'السفير': 623,
 'مجدي': 3279,
 'ربعا': 2237,
 'سفيرة': 2365,
 'وايرلندا': 3946,
 'نهار': 3655,
 'والعظمى': 3862,
 'الى': 1322,
 'كم': 2874,
 'ساعة': 2310,
 'النهار': 1267,
 'ليلا': 3215,
 'فتوقعت': 2718,
 'للحرارة': 3081,
 'وقالت': 4203,
 'درجات': 2174,
 'الحرارة': 442,
 'المتوقعة': 1008,
 'والصغرى': 3848,
 'البحرين': 245,
 'دور': 2192,
 'ريادي': 2284,
 'دعم': 2182,
 'علاقات': 2639,
 'بلدينا': 1587,
 'وتنميتها': 4026,
 'شاد': 2428,
 'العاهل': 780,
 'البحريني': 246,
 'بن': 1615,
 'عيسى': 2686,
 'خليفة': 2141,
 'بالدور': 1404,
 'الريادي': 585,
 'لسمو': 3004,
 'شروط': 2459,
 'جديدة': 1953,
 'لاستخدام': 2906,
 'عربات': 2607,
 'البر': 249,
 'ذكرت': 2217,
 'للعلاقات': 3115,
 'مني': 3513,
 'بوزارة': 1637,
 'طار': 2536,
 'حرص': 2041,
 'الم': 966,
 'سسة': 2348,
 'منية': 3514,
 'حماية': 2080,
 'دي': 2204,
 'العربات': 797,
 'المتنقلة': 1004,
 'تنشر': 1876,
 'سما': 2382,
 'الطلبة': 759,
 'المقبولين': 1157,
 'بكليات': 1580,
 'ومعاهد': 4287,
 'التطبيقي': 313,
 'اعتمد': 117,
 'للتعليم': 3067,
 'والتدريب': 3768,
 'بال': 1387,
 'نابة': 3567,
 'جاسم': 1940,
 'نصاري': 3623,
 'نتا': 3581,
 'قبول': 2778,
 'والمتدربين': 3891,
 'كليات': 2872,
 'يستعرض': 4407,
 'مساعي': 3357,
 'الوزارة': 1300,
 'لتعزيز': 2957,
 'جاذبية': 1938,
 'التمريض': 337,
 'العنصر': 837,
 'التواصل': 354,
 'المستمر': 1097,
 'الكوادر': 937,
 'بهدف': 1630,
 'تعزيز': 1795,
 'سبل': 2322,
 'الارتقا': 163,
 'بالخدمات': 1402,
 'الطبية': 752,
 'والاستماع': 3743,
 'يواجههم': 4479,
 'تحديات': 1687,
 'بنك': 1624,
 'المركزي': 1070,
 'يعمل': 4437,
 'اطلاق': 106,
 'بوابة': 1634,
 'رقمية': 2273,
 'مطورة': 3409,
 'تعرف': 1791,
 'عليها': 2658,
 'كشف': 2862,
 'محافظ': 3289,
 'باسل': 1376,
 'الهارون': 1278,
 'الثلاثا': 374,
 'البنك': 272,
 'الموجهة': 1217,
 'للقطاع': 3123,
 'المصرفي': 1123,
 'برواز': 1524,
 'برحيل': 1512,
 'حد': 2030,
 'قادته': 2766,
 'العظام': 813,
 'alhakea': 3,
 'نادي': 3571,
 'الغوص': 850,
 'يشيد': 4422,
 'نجازات': 3589,
 'منتخب': 3493,
 'الرياضي': 587,
 'بك': 1576,
 'بتايلاند': 1457,
 'النادي': 1234,
 'الكويتي': 943,
 'للغوص': 3120,
 'والانقاذ': 3756,
 'السرحان': 615,
 'والمتمثلة': 3892,
 'بفوزهم': 1569,
 'بعدد': 1555,
 'الميداليات': 1228,
 'نها': 3654,
 'للعبة': 3112,
 'اختتمت': 64,
 'منافساتها': 3489,
 'خيرا': 2151,
 'تايلاند': 1656,
 'سوا': 2398,
 'منافسات': 3488,
 'الزوجي': 593,
 'الفردي': 864,
 'وقال': 4202,
 'الذي': 546,
 'الوفد': 1313,
 'المشارك': 1102,
 'للبطولة': 3051,
 'تصريح': 1769,
 'للصحفيين': 3101,
 'عقب': 2631,
 'وصول': 4149,
 'الفريق': 869,
 'للبلاد': 3053,
 'الجمعة': 400,
 'المكون': 1168,
 'لاعبي': 2910,
 'المنتخب': 1185,
 'فهد': 2748,
 'سالمين': 2312,
 'وبدر': 3952,
 'سود': 2401,
 'تمكن': 1862,
 'تحقيق': 1699,
 'ميداليتين': 3551,
 'فضيتن': 2733,
 'بسباقي': 1533,
 'متر': 3249,
 'غوص': 2702,
 'مميز': 3483,
 'اللاعبين': 956,
 'واضاف': 3718,
 'والمكون': 3919,
 'فيصل': 2759,
 'مجبل': 3277,
 'وسالم': 4116,
 'المطيري': 1132,
 'نالا': 3575,
 'بدورهما': 1503,
 'برونزيتين': 1527,
 'نفس': 3635,
 'السباقين': 606,
 'حلا': 2076,
 'بالمرتبة': 1433,
 'مشيرا': 3396,
 'بطال': 1548,
 'مستوى': 3372,
 'ضافوا': 2522,
 'ايضا': 1366,
 'طريق': 2548,
 'اللاعب': 955,
 'الانتشال': 219,
 'وفيصل': 4198,
 'تورنيدو': 1900,
 'واعتبر': 3721,
 'فوز': 2751,
 'بهذا': 1631,
 'العدد': 787,
 'هذه': 3678,
 'البطولة': 259,
 'العالمية': 774,
 'شهدت': 2478,
 'مشاركة': 3377,
 'ميز': 3559,
 'الاختصاص': 158,
 'دليل': 2189,
 'نجاح': 3587,
 'الخطة': 488,
 'وضعها': 4158,
 'بالارتقا': 1388,
 'بالمستويات': 1439,
 'الفنية': 879,
 'للغواصين': 3119,
 'الرياضيين': 588,
 'موضحا': 3540,
 'تسجيل': 1746,
 'العديد': 791,
 'رقام': 2271,
 'والخليجية': 3808,
 'الجديدة': 385,
 'وتقدم': 4005,
 'بالشكر': 1411,
 'لكل': 3038,
 'ساند': 2315,
 'المشاركة': 1104,
 'منتسبي': 3495,
 'جهزة': 1993,
 'دارية': 2161,
 'والفنية': 3874,
 'مكنهم': 3462,
 'الفوز': 882,
 'اللافت': 957,
 'سيكون': 2424,
 'دافعا': 2164,
 'لهم': 3194,
 'لتحقيق': 2937,
 'المزيد': 1075,
 'البطولات': 258,
 'صدار': 2502,
 'رخص': 2250,
 'قيادة': 2817,
 'للمقيمين': 3148,
 'بصورة': 1546,
 'غير': 2703,
 'قانونية': 2776,
 'المقيمين': 1166,
 'بالتعاون': 1393,
 'للمرور': 3136,
 'مين': 3563,
 'العام': 776,
 'المساعد': 1081,
 'للش': 3094,
 'ون': 4310,
 'والمعلومات': 3913,
 'عبدالله': 2588,
 'الفرحان': 863,
 'لوكالة': 3204,
 'الانبا': 214,
 'تجديد': 1677,
 'رخصة': 2251,
 'ول': 4236,
 'يناير': 4468,
 'ديسمبر': 2206,
 'ضاف': 2519,
 'عملية': 2672,
 'القيادة': 910,
 'وفقا': 4194,
 'الخاص': 477,
 'بتقديم': 1468,
 'المزايا': 1074,
 'والتسهيلات': 3772,
 'الحصول': 456,
 'الرخص': 563,
 'متيسر': 3268,
 'لمن': 3177,
 'يحملون': 4384,
 'بطاقات': 1547,
 'سارية': 2307,
 'المفعول': 1151,
 'ممن': 3482,
 'بلغوا': 1590,
 'سن': 2390,
 'عاما': 2578,
 'مشيدا': 3394,
 'بتعاون': 1465,
 'المس': 1076,
 'ولين': 4258,
 'ووزارة': 4330,
 'الش': 655,
 'admin': 0,
 'يعزي': 4432,
 'نظيره': 3628,
 'البريطاني': 255,
 'برحيلها': 1513,
 'هم': 3684,
 'شخصياته': 2443,
 'خالد': 2106,
 'والاس': 3741,
 'ملكة': 3467,
 'وقد': 4207,
 'عرب': 2606,
 'برقيته': 1519,
 'خالص': 2107,
 'تعازيه': 1784,
 'وصادق': 4141,
 'مواساته': 3527,
 'لوزير': 3200,
 'وللشعب': 4247,
 'الصديق': 716,
 'المصاب': 1118,
 'الجلل': 396,
 'بمواقف': 1613,
 'الراحلة': 554,
 'تجاه': 1676,
 'ودعم': 4083,
 'قضاياها': 2803,
 'العادلة': 767,
 'والمملكة': 3921,
 'والعالم': 3857,
 'البارزين': 238,
 'والم': 3886,
 'ثرين': 1923,
 'الصعيدين': 723,
 'المحلي': 1029,
 'والدولي': 3816,
 'بما': 1592,
 'قدمته': 2785,
 'عطا': 2625,
 'وما': 4261,
 'تحملته': 1703,
 'وليات': 4255,
 'مسيرة': 3374,
 'حكمها': 2072,
 'الحافلة': 433,
 'بالوفا': 1446,
 'والتضحية': 3775,
 'ختام': 2110,
 'تمنياته': 1866,
 'الصادقة': 701,
 'بالتوفيق': 1398,
 'والسداد': 3830,
 'لصاحب': 3011,
 'العمل': 830,
 'استكمال': 89,
 'البنا': 271,
 'والنهضة': 3926,
 'والازدهار': 3740,
 'وشعبها': 4136,
 'الكريم': 926,
 'times': 29,
 'تفقد': 1812,
 'الشحن': 664,
 'بالجهود': 1400,
 'المبذولة': 982,
 'للتصدي': 3066,
 'للمهربين': 3154,
 'دسمان': 2179,
 'نيوز': 3666,
 'يرافقه': 4395,
 'الجمارك': 397,
 'سليمان': 2381,
 'الفهد': 880,
 'ووكيل': 4334,
 'لش': 3007,
 'اللوا': 965,
 'الرجيب': 560,
 'حيث': 2098,
 'اطلع': 107,
 'المتبعة': 986,
 'قبل': 2777,
 'لمنع': 3182,
 'تهريب': 1890,
 'الممنوعات': 1176,
 'جرا': 1954,
 'كدا': 2848,
 'مواصلة': 3528,
 'التعاون': 317,
 'جميع': 1979,
 'يحقق': 4381,
 'الهدف': 1280,
 'المنشود': 1187,
 'وهو': 4324,
 'التصدي': 308,
 'لتهريب': 2968,
 'المخدرات': 1040,
 'والمواد': 3924,
 'التموينية': 341,
 'لحماية': 2981,
 'شباب': 2437,
 'الوطن': 1309,
 'وسلامة': 4123,
 'dasman': 11,
 'سحب': 2337,
 'وحجز': 4057,
 'سيارة': 2410,
 'صدرت': 2505,
 'تعليمات': 1798,
 'بسحب': 1536,
 'الرخصة': 564,
 'الشخص': 665,
 'مخالف': 3306,
 'لم': 3164,
 'يلتزم': 4457,
 'بقواعد': 1573,
 'السير': 653,
 'الطرق': 755,
 'مهلة': 3519,
 'الجاري': 379,
 'لتعديل': 2955,
 'كريم': 2857,
 'وكيل': 4234,
 'المرور': 1072,
 'والعمليات': 3868,
 'جمال': 1972,
 'الصايغ': 705,
 'ممثلي': 3478,
 'شركات': 2457,
 'كي': 2890,
 'وكي': 4233,
 'كاو': 2833,
 'وبترا': 3949,
 'الملاحظات': 1171,
 'والسلبيات': 3831,
 'تسجيلها': 1748,
 'حملات': 2084,
 'المرورية': 1073,
 'صحاب': 2496,
 'لبيع': 2928,
 'يقدم': 4445,
 'توصيات': 1903,
 'للارتقا': 3045,
 'بمستوى': 1600,
 'استمع': 96,
 'شرح': 2450,
 'قدمه': 2787,
 'وعدد': 4171,
 'قياديي': 2819,
 'تضمن': 1776,
 'التوصيات': 356,
 'قدمها': 2788,
 'والتي': 3789,
 'تحسن': 1695,
 'ومقترحات': 4292,
 'شرات': 2448,
 'قياس': 2820,
 'ومحاسبة': 4267,
 'المقصرين': 1164,
 'بهذه': 1632,
 'المقترحات': 1158,
 'وقرر': 4209,
 'المجلس': 1016,
 'تكليف': 1839,
 'ذات': 2213,
 'العلاقة': 820,
 'بوضع': 1641,
 'تنفيذية': 1882,
 'لتلك': 2964,
 'وموافاة': 4306,
 'بتقرير': 1469,
 'مفصل': 3438,
 'معزي': 3421,
 'بريفرمان': 1530,
 'وزيرة': 4113,
 'سويلا': 2405,
 'لوزيرة': 3201,
 'بايدن': 1450,
 'يعلن': 4436,
 'حضور': 2060,
 'جنازة': 1980,
 'قال': 2771,
 'الر': 548,
 'جو': 1998,
 'سيحضر': 2414,
 'alwehda': 7,
 ...}

In [43]:
len(tfidf.vocabulary_)

4492

In [38]:
temp=pd.DataFrame.sparse.from_spmatrix(new_df)

,0,1,2,3,4,5,6,7,8,9,...,4482,4483,4484,4485,4486,4487,4488,4489,4490,4491
0,0.0,0.0,0.000000,0.0,0.000000,0.068662,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.000000,0.068116,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.000000,0.048165,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.068701,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.000000,0.050477,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.000000,0.056797,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.087429,...,0.0,0.0,0.0,0.0,0.101759,0.0,0.000000,0.0,0.0,0.0
96,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
97,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
98,0.0,0.0,0.099227,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
99,0.0,0.0,0.000000,0.0,0.109146,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

<img src="https://cs.carleton.edu/cs_comps/0910/netflixprize/final_results/knn/img/knn/cos.png">

In [ ]:
similarity_table=cosine_similarity(new_df) #generates the similarity table between all the news #return type numpy array

In [ ]:
similarity_table.shape #gives 13820 x 13820 -- that is similarity between the vectors of 13820 news

(13820, 13820)

In [ ]:
new_df=pd.DataFrame.sparse.from_spmatrix(new_df)

# Testing the model

In [40]:
def similarity_predictor(data):
    # closly_matched=difflib.get_close_matches(data,dataset.title.to_list()) #this function has been used to match input movie name with all similar movie names we can do that with a for but handling case sensitivity and spacing mistakes make our task tuff that why we use this library 
    # print(closly_matched) #returns a list of close matches
    # confirmation=int(input("enter the index value for movie"))
    # exact_match=closly_matched[confirmation]
    # ##finding the vector for this movie from our initial dataset
    index_num = dataset.loc[dataset.title==data].index[0]
    print(index_num)
    print("vector of our movie",new_df.iloc[index_num])
    similarity_scores=list(enumerate(similarity_table[index_num])) # finding the index value in similarity table
    # print(similarity_scores)

    res = sorted(similarity_scores, key = lambda x: x[1], reverse = True)[:5]
    print(res)
    print("Predictions are")
    for i in res:
        print("prediction",dataset.iloc[i[0]]["title"])
    
title=dataset.iloc[8].title 
content=dataset.iloc[8].contents
similarity_predictor(title)

8
vector of our movie 0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
108465    0.0
108466    0.0
108467    0.0
108468    0.0
108469    0.0
Name: 8, Length: 108470, dtype: Sparse[float64, 0]
[(8, 1.0000000000000002), (3462, 0.6544164446457322), (3666, 0.5847996069766551), (101, 0.5770757419137155), (386, 0.566502605113999)]
Predictions are
prediction الوزير الموسى زيادة مواقع نقاط شواحن المركبات الكهربا ية بالكويت
prediction الموسى الانتها من عداد لا حة الشواحن لوضع استراتيجيات منظومة توفير الشواحن للسيارات الكهربا ية بالكويت
prediction الموسى الانتها من عداد لا حة الشواحن للسيارات الكه
prediction وزير الكهربا الانتها من عداد لا حة شواحن السيارات الكهربا ية في الكويت
prediction الموسى الانتها من عداد لا حة الشواحن لوضع استراتيجيات منظومة توفير الشواحن للسيارات الكهربا ية بالكويت

In [41]:
title=dataset.iloc[8].title 
title

'الوزير الموسى زيادة مواقع نقاط شواحن المركبات الكهربا ية بالكويت'